extends layout

block content
  form(action='/sms', method='post')
    input(type='text', name='PhoneID', value='2345551234')
    input(type='text', name='OriginalText', value='THINKBUS 401 is late')
    input(type='submit', value='Send this message!')
